@use 'variables' as *;

.dogs_grid {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "dog1 dog2"
            "dog3 dog4"
            "dog5 dog4"
            "dog5 dog6";
    }
}

.dog_cell {
    border: 1px solid $colorBorder;
    border-radius: 10px;
    padding: 20px;
    background-color: $colorSurface;
}

.dog_image {
    max-width: 100%;
    height: auto;
}

.dog1 {
    grid-area: dog1;
}
.dog2 {
    grid-area: dog2;
}
.dog3 {
    grid-area: dog3;
}
.dog4 {
    grid-area: dog4;
}
.dog5 {
    grid-area: dog5;
}
.dog6 {
    grid-area: dog6;
}