@use 'variables' as *;

.find_my_dog_form {
    display: grid;
    gap: 40px;
    padding: 20px;
    width: 100%;
    justify-content: center;

    grid-template-columns: 1;
    grid-template-rows: auto;

    grid-template-areas: 
        "dog_size"
        "dog_age"
        "dog_gender"
        "dog_color"
        "dog_hair"
        "closest_shelter"
        "submit_find_my_dog";

    @media (min-width: 768px) {
        grid-template-columns: 2;
        grid-template-rows: 4;
        grid-template-areas: 
        "dog_size dog_age"
        "dog_gender dog_color"
        "dog_hair closest_shelter"
        "submit_find_my_dog submit_find_my_dog";
    }

    @media (min-width: 1024px) {
        grid-template-columns: 3;
        grid-template-rows: 3;
        grid-template-areas: 
        "dog_size dog_age dog_gender"
        "dog_color dog_hair closest_shelter"
        ". submit_find_my_dog .";
    }
        
    justify-items: start;
    justify-content: center;
    align-items: top;

    label {
        font-weight: 500;
    }
}

.find_my_dog_form_size {
    grid-area: dog_size;
    display: flex;
    flex-direction: column;
}

.find_my_dog_form_age {
    grid-area: dog_age;
    display: flex;
    flex-direction: column;
}

.find_my_dog_form_gender {
    grid-area: dog_gender;
    display: flex;
    flex-direction: column;
}

.find_my_dog_form_color {
    grid-area: dog_color;
    display: flex;
    flex-direction: column;
}

.find_my_dog_form_hair {
    grid-area: dog_hair;
    display: flex;
    flex-direction: column;
}

.find_my_dog_form_shelter {
    grid-area: closest_shelter;
    display: flex;
    flex-direction: column;
}

.submit_find_my_dog {
    grid-area: submit_find_my_dog;
    display: flex;
    width: 100%;
    justify-content: center;
}